    <div class="card" style="width: 18rem;">
  <img src="<%= bet.LogoA %>,<%= bet.LogoB %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> <%= bet.TeamA%>  VS <%= bet.TeamB %> </h5> 
    <p class="card-text"> <%= bet.Desc %></p> 
    <a href="#" class="btn btn-primary"><%= link_to "Voir le résultat", bet %></a>
    <a href="#" class="btn btn-primary"><%= link_to "Retour à l'acceuil", bets_path %></a>
  </div>
</div>


<!-- <div id="<%= dom_id bet %>">
  <p>
    <strong>Equipe A:</strong>
    <%= bet.TeamA %>
  </p>

  <p>
    <strong>Equipe B:</strong>
    <%= bet.TeamB %>
  </p>

<img src="<%= bet.LogoA %>">
<img src="<%= bet.LogoB %>">

 
  <p>
    <strong>Score Equipe A:</strong>
    <%= bet.prediA %>
  </p>

  <p>
    <strong>Score Equipe B:</strong>
    <%= bet.prediB %>
  </p>


 <p>
    <strong>Date:</strong>
    <%= bet.date %>
  </p>

  <p>
    <strong>Description match:</strong>
    <%= bet.Desc %>
  </p>

</div>

