<div id="<%= dom_id bet %>">
  <p>
    <strong>Teama:</strong>
    <%= bet.TeamA %>
  </p>

  <p>
    <strong>Teamb:</strong>
    <%= bet.TeamB %>
  </p>

<img src="<%= bet.LogoA %>">
<img src="<%= bet.LogoB %>">

  <p>
    <strong>Date:</strong>
    <%= bet.date %>
  </p>

  <p>
    <strong>Predia:</strong>
    <%= bet.prediA %>
  </p>

  <p>
    <strong>Predib:</strong>
    <%= bet.prediB %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= bet.Desc %>
  </p>

</div>
