<div id="<%= dom_id bet %>">
  <p>
    <strong>Equipe A:</strong>
    <%= bet.TeamA %>
  </p>

  <p>
    <strong>Equipe B:</strong>
    <%= bet.TeamB %>
  </p>

<img src="<%= bet.LogoA %>">
<img src="<%= bet.LogoB %>">

 
  <p>
    <strong>Score Equipe A:</strong>
    <%= bet.prediA %>
  </p>

  <p>
    <strong>Score Equipe B:</strong>
    <%= bet.prediB %>
  </p>


 <p>
    <strong>Date:</strong>
    <%= bet.date %>
  </p>

  <p>
    <strong>Description match:</strong>
    <%= bet.Desc %>
  </p>

</div>
