<!DOCTYPE html>
<html>
  <head>
    <title>Parisesport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %> 

        <div class="card" style="width: 18rem;">
  <img src="<%= bet.LogoA %>,<%= bet.LogoB %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> <%= bet.TeamA%>  VS <%= bet.TeamB %> </h5> 
    <p class="card-text"> </p> 
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

  </body>
</html>
